body { 
    padding-top: 60px; 
}

article{
	border-bottom:  1px solid #ccc;
	padding: 10px;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

#imgHome, #imgBook {
    border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #555;
}

.imgList{
	border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 5px #555;
}

#shopping-cart{
	font-size:1.5em;
}

#img-menu{
	display:inline;
}

.buy-panel{
	text-align: center;
    border-radius: 4px;
	padding: 10px;
	box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
}

.invoice-footer{
	text-align: right;
	border-bottom: 1px solid #ccc;
}

.tab-content{
	padding: 10px;
}

.btn-cart-list{
	text-align: center;
	padding: 50px;
}

footer{
	margin-top: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}